.response{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    color: rgb(6, 219, 6);
    text-align: center;
    h3{
        border: 3px solid rgb(6, 219, 6);
        border-radius: 3px;
        padding: 5px;
    }
}