.menu {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;

    @media screen and (max-width: 820px) {
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: rebeccapurple;
        padding: 10px 0;
        margin-top: 10px;
        width: 100%;
    }
    li {
        @media screen and (max-width: 820px) {
            padding: 5px 0;
            text-align: center;
            &:hover{
                background-color: rgb(67, 19, 116);
            }
        }
        a {
            margin-left: 10px;
            color: white;
            font-weight: bold;
        }
    }
}
