.btn-wrapper {
    max-width: 130px;
    width: 100%;
    margin: 10px;

    button {
        min-width: 85px;
        width: 100%;
        padding: 10px 0;
        background-color: rebeccapurple;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.2s all;

        &:active {
            transform: scale(0.98);
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        }
    }
}
.add-post {
    margin-left: auto;

    @media screen and (max-width: 510px) {
        margin-right: auto;
    }
}
